{% extends "base.html" %}
{% block content %}

<br/>
<div class="row">
    <div class="col-md-5">
        <h1>kono data</h1>
        <br/>
        <p>
        <b>kono data provides an easy way to label unstructured datasets. </b><br/>
        It helps you assign labels to images or compare two images.<br/>
        You can work on a dataset with a group of other people or by yourself.</p>
        <h4>
            <p>Read more on
                <a class="btn btn-outline-info btn-sm"
                   href="https://medium.com/@holger_no/from-idea-to-open-source-in-12-days-cef016e3f919">
                    Medium
                </a>
            </p>
            <hr/>
            <p>Contribute on
                <a class="btn btn-outline-dark btn-sm" href="https://github.com/hellno/kono_data">
                    GitHub
                </a>
            </p>
            <hr/>
            <p>Start
                <a href="
                {% if user.is_anonymous %}
                {% url 'signup' %}
                {% else %}
                {% url 'update_or_create_dataset' %}
                {% endif %}"
                   class="btn btn-outline-success btn-sm">
                    HERE
                </a>
                to label your own dataset
            </p>
            <hr/>
        </h4>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <div class="row">
            <h2>{% if user.is_anonymous %}Public {% else %} Your {% endif %}datasets</h2>
        </div>
        <div class="row">
            {% for dataset in datasets %}
            {% include "partials/dataset.html" with dataset=dataset %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
