{% extends "base.html" %}
{% block content %}

<br/>
<h1>kono data</h1>
<div class="row">
    <div class="col-md-5">
        <br/>
        <h4>
            <p>Read more on
                <a class="btn btn-outline-info btn-sm"
                   href="https://medium.com/@holger_no/from-idea-to-open-source-in-12-days-cef016e3f919">
                    Medium
                </a>
            </p>
            <hr/>
            <p>Contribute on
                <a class="btn btn-outline-dark btn-sm" href="https://github.com/hellno/kono_data">
                    GitHub
                </a>
            </p>
            <hr/>
            <p>Start
                <a href="
                {% if user.is_anonymous %}
                {% url 'signup' %}
                {% else %}
                {% url 'update_or_create_dataset' %}
                {% endif %}"
                   class="btn btn-outline-success btn-sm">
                    HERE
                </a>
                to label your own dataset
            </p>
            <hr/>
        </h4>
    </div>
    <div class="col-md-7">
        <h2>{% if user.is_anonymous %}Public {% else %} Your {% endif %}datasets</h2>
        {% for dataset in datasets %}
        <div class="container col-md-12">
            {% include "partials/dataset.html" with dataset=dataset %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
