{% extends "base.html" %}
{% block head %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='tiny' %}
<script type="text/javascript" src="{% static 'data_model/js/timer.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <h3>{{ dataset.title }}</h3>
            <br/>
        </div>
        <div class="col-sm-12 col-md-4">
            <button type="button" class="btn btn-outline-info" data-toggle="modal"
                    data-target="#tutorial-modal">
                Tutorial
            </button>
            <a href="{% url 'show_leaderboard' dataset.id %}" role="button"
               class="btn btn-outline-info">Leaderboard 👾</a>
        </div>
    </div>
    <br/>
</div>
{% if task %}
{% include partial_name with task=task form=form %}
{% include "partials/tutorial_modal.html" %}
{% else %}
You've labeled the whole dataset, thank youuuuu!
{% endif %}
{% endblock %}
