{% extends "base.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='tiny' %}
{% bootstrap_messages %}
{% block head %}
<script type="text/javascript">
    $(document).ready(function(){
        $('html').keypress(function(event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            console.log('got keypress: ' + keycode);
            if ((keycode >= 49) & (keycode <= 57)) {
                handle_keypress(this, keycode, "click");
            }
            event.stopPropagation();
        });

        $('html').keydown(function(event) {
        console.log('KEYDOWN');
            if (event.keyCode == 13) {
                this.querySelector('.form').submit();
                return false;
             }
        });
    });

    function handle_keypress(element, keycode, myEvent){
        var input_number = keycode - 48;
        var element = $(element.querySelector('#label_select_' + input_number))[0];
        if(element.checked)
            element.checked = false;
        else
            element.checked = true;
    }

    $(document).ready(function() {

    });



</script>

{% endblock %}

{% block content %}
<br/>
<h2>Processing dataset: {{ dataset.title }}</h2>
<br/>
{% if key %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <img src="{{ key_src }}" class="img-thumbnail media img-responsive" alt="Responsive image"/>
        </div>
        <div class="col-sm-12 col-md-6 col-1-offset">
            <div>
                <form action="{% url 'process' dataset.id %}" method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form layout='inline' %}
                    <input type="hidden" name="key" value="{{ key }}"/>
                    <button type="submit" class="btn btn-success">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% else %}
You've labeled the whole dataset, thank youuuuu!
{% endif %}
{% endblock %}
