{% extends "base.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='tiny' %}
{% bootstrap_messages %}
{% block head %}
<script type="text/javascript">
    $(document).ready(function(){
        $('html').keypress(function(event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            console.log('got keypress: ' + keycode);
            if ((keycode >= 49) & (keycode <= 57)) {
                handle_keypress(this, keycode, "click");
            }
            event.stopPropagation();
        });

        $('html').keydown(function(event) {
        console.log('KEYDOWN');
            if (event.keyCode == 13) {
                this.querySelector('.form').submit();
                return false;
             }
        });
    });

    function handle_keypress(element, keycode, myEvent){
        var input_number = keycode - 48;
        var element = $(element.querySelector('#label_select_' + input_number))[0];
        if(element.checked)
            element.checked = false;
        else
            element.checked = true;
    }

    $(document).ready(function() {

    });
</script>

{% endblock %}

{% block content %}
<br/>
<h2>Processing dataset: {{ dataset.title }}</h2>
<br/>
{% if task or tasks %}
{% include partial_name with task=task form=form %}
{% else %}
You've labeled the whole dataset, thank youuuuu!
{% endif %}
{% endblock %}
