{% block head %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='tiny' %}
<script type="text/javascript" src="{% static 'data_model/js/process_single_image_label.js' %}"></script>
{% endblock %}
{% block process %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <img src="{{ task_source }}" class="img-thumbnail media img-responsive" alt="Responsive image"/>
        </div>
        <div class="col-sm-12 col-md-6 col-1-offset">
            <div>
                <form action="{% url 'process' dataset.id %}" method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form layout='inline' %}
                    <input type="hidden" name="task" value="{{ task }}"/>
                    <input type="hidden" name="processing-time" id="form-processing-time" />
                    <input type="hidden" name="loading-time" id="form-loading-time" />
                    <button type="submit" class="btn btn-success">Save</button>
                    <button type="submit" name="skip" class="btn btn-secondary" value="skip">Skip</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}