{% block head %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='tiny' %}
{% load static %}
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'data_model/css/toggle_correction.css' %}">
<script type="text/javascript" src="{% static 'data_model/js/process_two_image_comparison.js' %}"></script>
{% endblock %}
{% block process %}
{% if is_first_task %}
<script type="text/javascript" src="{% static 'data_model/js/show_modal_on_load.js' %}"></script>
{% endif %}
<div class="container-fluid">
    <div class="row">
        {% for task_source in task_sources %}
        <div class="col-sm-12 col-md-6">
            <div class="{% if forloop.first %}bg-info float-right{%else%}bg-warning float-left{% endif %}">
                <span class="badge badge-pill text-center">Image {{ forloop.counter }}</span>
                <img src="{{ task_source }}"
                     class="border-{% if forloop.first %}info{%else%}warning{% endif %}
                     border-info border img-thumbnail img-rounded media img-responsive"
                     alt="image{{ forloop.counter }}"/>

            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row justify-content-center">
        <h4>Which image is more...?</h4>
        <div class="row justify-content-center col-md-12">
            <form action="{% url 'process' dataset.id %}" method="post" class="form" onsubmit="onSubmitProcessing()">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="hidden" name="task" value="{{ task }}"/>
                <input type="hidden" name="processing-time" id="form-processing-time"/>
                <input type="hidden" name="loading-time" id="form-loading-time"/>
                <button type="submit" name="save" class="btn btn-success" value="submit">
                    Save
                </button>
                <button type="submit" name="skip" class="btn btn-secondary" value="skip">
                    Skip
                </button>
            </form>
            {{ form.media }}
        </div>
    </div>
</div>
{% endblock %}